<ion-header>
  <ion-toolbar>
    <ion-title>
      Today's Attacks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let attack of attackList">
      <ion-label>{{'Time:' + getLocaltime(attack.attackDate, attack.attackTime) + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Loc: ' + attack.attackLocation}}</ion-label>
      <ion-select [(ngModel)]="action[attack.id]" interface="action-sheet" (ionChange)="attackAction(attack.id)">
        <ion-select-option value="edit">Edit</ion-select-option>
        <ion-select-option value="delete">Delete</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
