<ion-header>
  <ion-toolbar>
    <ion-title>
      Report Attack
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Attack Info</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.EventDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.EventTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Are you in the room? </ion-label>
        <ion-select [(ngModel)]="event.EventLoc">
          <ion-select-option value="inside" >inside</ion-select-option>
          <ion-select-option value="outside">outside</ion-select-option>
        </ion-select>
      </ion-item>


      <button ion-button round (click)="clearData()">Clear</button>
      <br>
      <button ion-button round (click)="submitData()">Submit</button>

    </ion-list>


</ion-content>
