<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello, {{this.username}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
<!--      <ion-list-header>-->
<!--        <ion-label style="align-content: center">Hello, {{this.username}}</ion-label>-->
<!--      </ion-list-header>-->

      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.EventDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="event.EventTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Are you in the room? </ion-label>
        <ion-select [(ngModel)]="event.EventLoc">
          <ion-select-option value="inside" >inside</ion-select-option>
          <ion-select-option value="outside">outside</ion-select-option>
        </ion-select>
      </ion-item>

      <br><br>
      <button ion-button (click)="clearData()">Clear</button>
      <br><br><br>
      <button ion-button (click)="submitData()" >Submit</button>

    </ion-list>


</ion-content>
